
#top {
    position: relative;
    background-color: #ffffff;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    
    position: relative;
    background-color: dimgray;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    width: 100%;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 0px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

#content{
    background: dimgray;
    background-image: url("../imagens/martelo.jpg");
    background-repeat: repeat;
    height: auto;
    width: 100%;
}
